html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

section {
  height: 100%;
}

header {
  z-index: 1;
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
}

header a {
  color: white;
  background: rgba(0, 0, 0, 0.1);
  display: inline-block;
  padding: 0px 30px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}
@media (max-width: 480px) {
  header a {
    width: 100%;
  }
}
@media (min-width: 481px) {
  header a {
    width: 50%;
  }
}
@media (min-width: 769px) {
  header a {
    width: 25%;
  }
}

#hero1 {
  background: url(../img/1.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#hero2 {
  background: url(../img/2.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.hero, .content {
  text-align: center;
  position: relative;
  width: 100%;
}

.inner {
  height: 100%;
  text-align: center;
}
.inner:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
  /* Adjusts for spacing */
}

.hero .inner {
  background: rgba(0, 0, 0, 0.6) url(../img/pattern.png);
}

.copy {
  display: inline-block;
  vertical-align: middle;
  max-width: 99%;
}
@media (max-width: 480px) {
  .copy {
    padding: 18px;
  }
}
@media (min-width: 481px) {
  .copy {
    padding: 12px;
  }
}
@media (min-width: 769px) {
  .copy {
    padding: 18px;
  }
}
@media (min-width: 1224px) {
  .copy {
    padding: 24px;
  }
}

.hero h1, .hero p {
  color: #fff;
}

.content h1, .content p {
  color: #333;
}

h1 {
  margin: 0px;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 32px;
}

p {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
}
